<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title><%=title%></title>
        <!-- Bootstrap core CSS -->
        <link href="/stylesheets/pinegrow/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/stylesheets/pinegrow/starter-template.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap">
    </head>
    <body>
			<% include menu %>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<img class="border border-0 border-light img-thumbnail w-100" src="../../images/todo_150.jpg" alt="">
				</div>
				<div class="align-middle col-md-6 mt-5 text-center">
					<h1 class="m-n3">Tools</h1>
				</div>
				<div class="col-md-3">&nbsp;</div>
				<div class="col-md-3">&nbsp;</div>
				<div class="col-md-3">&nbsp;</div>
			</div>
			<div style="height: 50px;">&nbsp;</div>

			<div class="row">
				<div class="col-md-4">
					&nbsp;
				</div>
				<div class="col-md-6">
					<button type="button" class="btn btn-primary" style="width: 140px; margin-bottom: 8px; " onclick="cleanAllData()">Clean all data</button>
				</div>
				<div class="col-md-2">
					&nbsp;
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p>&nbsp;</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					&nbsp;
				</div>
				<div class="col-md-6">
					<button type="button" class="btn btn-primary" style="width: 140px; margin-bottom: 8px;" onclick="simulate()">Simulate</button>
					<input type="text" id="weeks_id" class="" placeholder="1 week" style="width: 140px; padding: 4px; margin-bottom: 10px; border-left: 0px; border-right: 0px; text-align: center;">
				</div>
				<div class="col-md-2">
					&nbsp;
				</div>
			</div>

			<div class="row" style="margin-top: 20px;">
				<div class="col-md-5">
					<p>&nbsp;</p>
				</div>
				<div class="col-md-7">
					<p name="message" id="msg_id" style="font-weight: bold; color: #848404"></p>
				</div>
			</div>
			<div style="margin-bottom: 50px;"><p>&nbsp;</p></div>
		</div>
        <!-- /.container -->
        <!-- Bootstrap core JavaScript
	L:\work\devcli_\javascript\jstopics\pinegrow_b4\node\public\stylesheets\pinegrow\todos_search.html
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/stylesheets/pinegrow/assets/js/jquery.min.js"></script>
        <script src="/stylesheets/pinegrow/assets/js/popper.js"></script>
				<script src="/stylesheets/pinegrow/bootstrap/js/bootstrap.min.js"></script>
				
				<script type="text/javascript">

					function simulate() {
						let weeks = $('#weeks_id').val();
						if(!weeks.length) {
							weeks = '1';
						}
						let kvdata = {weeks: weeks};
						simulateAction(kvdata);
					}

					function cleanAllData() {
						let weeks = $('#weeks_id').val();
						if(weeks.length) {
							weeks = '1';
						}
						let kvdata = {weeks: weeks};
						cleanAllDataAction();
					}


					function simulateForm(ans) {
						let msgObj = $('#msg_id');
						let spanObj = $("#span_id");
						if(spanObj !== undefined) {
							spanObj.remove();
						}
						msgObj.append("<span id='span_id'>" + ans + " simulation done</span>");
						spanObj = $("#span_id");
						spanObj.fadeOut( 8000 );
					}

					function cleanAllDataForm(ans) {
						let msgObj = $('#msg_id');
						let spanObj = $("#span_id");
						if(spanObj !== undefined) {
							spanObj.remove();
						}
						msgObj.append("<span id='span_id'>" + ans + "</span>");
						spanObj = $("#span_id");
						spanObj.fadeOut( 8000 );
					}


					function simulateAction(kvdata) {
						json = JSON.stringify(kvdata);
						const XHR = new XMLHttpRequest();
						XHR.addEventListener( "load", function(event) {
							simulateForm( event.target.responseText );
						});
						XHR.addEventListener( "error", function( event ) {
								alert('WARN: simulation failed. Please, refresh the page and try again.');
						});
						XHR.open( "POST", "/todo/simulate" , true);
						XHR.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
						XHR.send(json);
          }

					function cleanAllDataAction() {
						const XHR = new XMLHttpRequest();
						XHR.addEventListener( "load", function(event) {
							cleanAllDataForm( event.target.responseText );
						});
						XHR.addEventListener( "error", function( event ) {
								alert('WARN: simulation failed. Please, refresh the page and try again.');
						});
						XHR.open( "POST", "/todo/truncateDelete" , true);
						XHR.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
						XHR.send('');
          }

				</script>
    </body>
</html>

